*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #fff;
  min-height: 200vh;
  font-family: 'Alfa Slab One', cursive;
}
.swiper-container {
  width: 100vw;
  height: 70vh;
  background:url(../images/pollo1.jpg);
  background-size:cover ;
  background-repeat: no-repeat;
}
.logo{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 150px;
}
.swiper-container img {
  border-style: none;
  width: 100%;
  height: 100%;
  max-width: 100%;
}
.swiper-button-prev,.swiper-button-next{
  color: white;
  outline: none;

}
.Main{
  height: 200vh;
  background-image: url(../images/bg.jpg);
  opacity: 0.17;
}
.swiper-button-next{
  padding-right: 2em;
}
.Header{
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  transition: .5s;
  z-index: 100;
  padding: 40px 100px;
}
.Header ul{
  position: relative;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.Header ul li{
  list-style:none;
}
.Header ul li a{
  margin:0 15px;
  text-decoration: none;
  color:#fff;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: .5s;
}
.Header.sticky{
  padding: 40px 100px;
  background:#fff;
  color: #000;
}
.Header.sticky ul li a{
  color: #000;
}